<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="BasePath" value="C:\Desarrollo\GIT\AgioGlobal\AgioGlobal.Tool\AgioGlobal.Tool.FileReader\FileSamples\"/>
    <add key="TxtFileName" value="file.txt"/>
    <add key="XMLFileName" value="file.xml"/>
    
  </appSettings>
</configuration>